{
	auto_https disable_redirects
	{{DEFAULT_SNI}}
	{{STRICT_SNI_HOST}}
}

{{PUBLIC_HOST}} {
	log
	encode zstd gzip

	tls {
		issuer acme {
			disable_http_challenge
			{{ACME_PROFILE}}
		}
		client_auth {
			mode verify_if_given
			trust_pool file "{{DEVICE_CA_FILE}}" "{{TUNNEL_CA_FILE}}"
		}
	}

	@pair path /__remote_everything_pair
	handle @pair {
		reverse_proxy "{{PAIRING_UPSTREAM}}"
	}

	@tunnel expression `path('/~!frp') && {tls_client_issuer} == "{{TUNNEL_ISSUER_DN}}"`
	handle @tunnel {
		reverse_proxy "{{FRPS_UPSTREAM}}"
	}

	@device_control {
		path /__remote_everything*
		expression `{tls_client_issuer} == "{{DEVICE_ISSUER_DN}}"`
	}
	handle @device_control {
		reverse_proxy "{{STATUS_UPSTREAM}}" {
			header_up X-Remote-Everything-Client-Fingerprint {tls_client_fingerprint}
			transport http {
				max_conns_per_host 4
			}
		}
	}

	@device expression `{tls_client_issuer} == "{{DEVICE_ISSUER_DN}}"`
	handle @device {
		reverse_proxy "{{STATUS_UPSTREAM}}" {
			header_up X-Remote-Everything-Client-Fingerprint {tls_client_fingerprint}
			transport http {
				max_conns_per_host 16
			}
		}
	}

	respond 401
}
