bindAddr = "127.0.0.1"
bindPort = {{FRPS_PORT}}
transport.maxPoolCount = 32
auth.method = "token"
auth.tokenSource.type = "file"
auth.tokenSource.file.path = "{{FRPS_TOKEN_FILE}}"
log.to = "{{FRPS_LOG}}"
log.level = "info"
