<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.remoteeverything.{{INSTALLATION_ID}}.{{COMPONENT_ID}}</string>
  <key>ProgramArguments</key><array>{{PROGRAM_ARGUMENT_STRINGS}}</array>
  <key>WorkingDirectory</key><string>{{WORKING_DIRECTORY}}</string>
  <key>RunAtLoad</key><true/><key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>{{LOG_FILE}}</string>
  <key>StandardErrorPath</key><string>{{LOG_FILE}}</string>
</dict></plist>
