[Unit]
Description=Remote Everything {{COMPONENT_ID}} {{INSTALLATION_ID}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{EXECUTABLE}} {{ARGUMENTS}}
Restart=on-failure
RestartSec=3
KillMode=control-group
StandardOutput=append:{{LOG_FILE}}
StandardError=append:{{LOG_FILE}}

[Install]
WantedBy=multi-user.target
