[Unit]
Description=Remote Everything {{COMPONENT_ID}} {{INSTALLATION_ID}}

[Service]
Type=simple
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{EXECUTABLE}} {{ARGUMENTS}}
Restart=on-failure
RestartSec=3
KillMode=control-group
StandardOutput=append:{{LOG_FILE}}
StandardError=append:{{LOG_FILE}}

[Install]
WantedBy=default.target
